<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  {{{css 'style.css'}}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
</head>
<body>
{{> header }}
{{{body}}}



<script type="text/x-handlebars" data-template-name="standings">
  <div class="eastern">
    <h4>Eastern</h4>
    <ol>
      \{{#each eastern}}
      <li><span class="team">\{{team}}</span><span class="win">\{{win}}</span><span class="lose">\{{lose}}</span></li>
      \{{/each}}
    </ol>
  </div>
  <div class="western">
    <h4>Western</h4>
    <ol>
      \{{#each western}}
      <li><span class="team">\{{team}}</span><span class="win">\{{win}}</span><span class="lose">\{{lose}}</span></li>
      \{{/each}}
    </ol>
  </div>
</script>
{{{js 'app'}}}
</body>
</html>