<div class="today-score">
  <h2>Today Score</h2>
  <div class="content">
    {{#each scores}}
      <div class="score-day">
        <h3>{{date}}</h3>
        <ul>
        {{#each games}}
          <li>
            <div>
              {{#each teams}}
              <span class="team {{#if win}}win{{else}}lose{{/if}}">
                <img src="{{logo}}"> {{team}} {{score}}
              </span>
              {{/each}}
            </div>
          </li>
        {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>
