<div class="standings standings-page">
  <div class="content">
    <div class="western">
      <h4>Western</h4>
      <ol>
        {{#each western}}
        <li><span class="team">{{team}}</span><span class="win">{{win}}</span><span class="lose">{{lose}}</span></li>
        {{/each}}
      </ol>
    </div>
    <div class="eastern">
      <h4>Eastern</h4>
      <ol>
        {{#each eastern}}
        <li><span class="team">{{team}}</span><span class="win">{{win}}</span><span class="lose">{{lose}}</span></li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>