<h1>{{title}}</h1>
<p>{{description}}</p>
<div class="team-list">
  <ul>
  {{#each teams}}
    <li><a href="/teams/{{key}}"><img src="{{icon}}" alt="{{name}}"><span>{{name}}</span></a></li>
  {{/each}}
  </ul>
</div>