<h1>{{title}}</h1>

<ul class="videos-dates">
  {{#each videos}}
    <li class="videos-date">
      <h3 class="date-header">{{@key}}</h3>
      <ul class="videos">
        {{#each this}}
          <li class="video">
            <a href="{{url}}" title="{{title}}" data-preload="true">
              <img src="{{metadata.media.600x336.uri}}" alt="{{alt}}"/>
              <span class="video-length">{{metadata.video.length}}</span>
            </a>
            <div class="info">
              <label class="title">{{title}}</label>
              <span class="date">{{date}}</span>
            </div>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>